<section class="vh-100" style="background-color: #90b8b4;">
  <div clas="form-control">
      <!--search functionality -->
      <input class="form-control" type="text" style="background-color: #dfe6e5;" placeholder="search text here" [(ngModel)]="filter">
      <!-- {{filter}} -->
  </div>
<h1 style="text-align: center;">Travelers</h1>
<hr>
<table class="table table-success mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Departure</th>
      <th scope="col">Destination</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr Service *ngFor="let tra of travelerService.traveler  | filter: filter| paginate:{itemsPerPage: 5,currentPage: page}">
      <th scope="row">{{tra.TravelerId}}</th>
      <td>{{tra.TravelerName}}</td>
      <td>{{tra.TravelDate| date:"dd-MMM-yyy"}}</td>
      <td>{{tra.DepartLocation}}</td>
      <td>{{tra.DestinLocation}}</td>
      <td>
        <button class="btn btn-sm btn-outline-danger" (click)="deleteTraveler(tra.TravelerId)">X</button>
    </td>
    </tr>
</tbody>

</table>
<div class="footer">
  <!-- pagination -->
  <pagination-controls (pageChange)="page=($event)"></pagination-controls>
</div>
</section>
