<section class="vh-100" style="background-color: #90b8b4;">

  <br><br><br>
  <div class="container-fluid mt-1">
    <div class="side">
      <div class="messages">

        <button routerLink="/travelerlist" type="button" class="rec">
          <b>Traveler List</b>
        </button>
      </div>
      <div class="messages">
        <button routerLink="/flightdata" type="button" class="mymatch">
          <b>Flight Data</b>
        </button>
      </div>
      <div class="messages">
        <button routerLink="/addflight" type="button" class="info">
         <b> Add Flight</b>
        </button>
      </div>

      <div class="messages">
        <button routerLink="/delhiairport" type="submit" class="edit">
          <b>List of travellers who depart from "Delhi" airport on 10 days from
          now.</b>
        </button>
      </div>
      <div class="messages">
        <button routerLink="/namea" type="submit" class="managephoto">
         <b> List of Passengers and the date of journey whose name starts with 'A'</b>
        </button>
      </div>
    </div>
  </div>
</section>
